<div class="panel panel-primary topics-component">
    <ng-template #titleTemplate>
        {{topNumber > 1 ? 'Top '  + topNumber + ' Hot' : 'The Hottest'}} Topic{{topNumber > 1 ? 's' : ''}}
    </ng-template>
<div class="panel-heading">
    <tw-button-header (topNumber)="updateTopNumber($event)" [template]="titleTemplate"></tw-button-header>
</div>
<div class="panel-body">
    <p *ngIf="topicRanks.length==0">Popular topics are on the way!</p>
    <span *ngFor="let topicRank of topicRanks.slice(0,topNumber)">
        <span class="label label-primary label-topic">{{topicRank.data | uppercase}} <span class="weak">({{topicRank.count}})</span></span>
    </span>
</div>
</div>
