<h1>New Twitter Component {{ title }}</h1>
<p class="text-muted" *ngIf="isAuthorized">Already authorized.</p>
<p class="text-warning" *ngIf="!isAuthorized">Please <strong>Authorize</strong></p>
<div class="container content">

    <form class="form-group">
        <button class="btn btn-primary" type="button" (click)="makeCall()" *ngIf="!isAuthorized">Authorize</button>
        <div class="input-group" *ngIf="isAuthorized">
            <input class="form-control" id="hashtags" type="text" #searchInput [(ngModel)]="search_query" [ngModelOptions]="{standalone: true}" (keyup.enter)="searchCall()" autofocus required>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="searchCall()">Search</button>
                <button class="btn btn-default" type="button" (click)="userCall()">Timeline for @vv4t</button>
            </span>
        </div>
    </form>

    <div *ngFor="let item of tweetsdata">

        <div class="tweet panel panel-default">
            <div class="panel-body content">
                <div class="tweet-header">
                    <a href="http://twitter.com/{{item.user.screen_name}}">
                        <img class="profile-image" src={{item.user.profile_image_url}} />
                        <span class="user-info"><span class="user-name">{{item.user.name}}</span>
                        <span class="user-id">@{{item.user.screen_name}}</span>
                        </span>
                    </a>
                </div>
                <div class="tweet-body">
                    <div class="tweet-text lead">{{ item.text }}</div>
                </div>
            </div>
        </div>

    </div>

</div>

