.tweet .content {
    margin-left: 58px;
}

.tweet .profile-image {
    float: left;
    margin-left: -58px;
}

.time-text {
    float: right;
    color: #aaa;
}

.tweet-text {
    margin: 5px 0;
    font-size: 200%;
}

.tweet-media {
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.tweet-media img {
    width: 100%;
}
.tweet-media video {
    width: 100%;
}

div.tweet.panel.panel-default {
    margin: 0;
}
