<div class="panel panel-primary" id="star-twitter">
  <ng-template #titleTemplate>
    Star Twitter{{topNumber > 1 ? 's' : ''}}
  </ng-template>
  <div class="panel-heading">
     <tw-button-header (topNumber)="updateTopNumber($event)" [template]="titleTemplate"></tw-button-header>
  </div>
  <div class="panel-body">
    <p *ngIf="userRanks.length==0">Star twitters are on the way!</p>
    <div style="text-align: center" [@listAnimation]="topNumber">
      <div class="new-item" *ngFor="let userRank of userRanks.slice(0,topNumber); let isFirst = first; let isLast = last; let i = index">
        <div class="user-rank" [ngClass]="{'user-rank-first': isFirst}">
          <a href="http://twitter.com/{{userRank.data.screen_name}}">
            <div><img class="profile-image" src="{{userRank.data.profile_image_url}}" /></div>
            <div class="user-info"><div class="user-name">{{userRank.data.name}}</div>
            <div class="user-id">@{{userRank.data.screen_name}}</div>
            </div>
            <div><span *ngIf="topNumber > 1"><strong>#{{i+1}}</strong> &middot; </span>Posted <span class="badge">{{userRank.count}}</span> tweets</div>
          </a>
        </div><hr *ngIf="!isLast">
      </div>
    </div>
  </div>
</div>
